@if (isLoading) {
<app-loading-spinner></app-loading-spinner>
} @else if (apiError) {
<h2
  class="text-5xl text-purple-700 dark:text-purple-400 mx-auto text-center capitalize"
>
  Failed to get this product
</h2>
} @else if (product) {
<div class="container mx-auto pt-6 px-4 sm:px-6 lg:px-8">
  <div
    class="flex flex-col items-center gap-8 mb-10 p-4 sm:flex-row sm:items-start sm:gap-12 bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-900/50"
  >
    <!-- Product Image -->
    <div class="w-full sm:w-1/2 lg:w-1/2 xl:w-1/3">
      <img
        [src]="product.image"
        alt="product image"
        class="w-full h-auto rounded-lg shadow-lg dark:shadow-gray-700/50 object-cover border border-gray-200 dark:border-gray-600"
      />
    </div>

    <!-- Product Details -->
    <div class="w-full sm:w-1/2 lg:w-1/2 xl:w-2/3">
      <h1 class="text-4xl font-bold text-purple-900 dark:text-purple-300 mb-4">
        {{ product.title }}
      </h1>
      <p class="text-gray-700 dark:text-gray-300 mb-6">
        {{ product.description }}
      </p>
      <span
        class="text-purple-500 dark:text-purple-400 text-2xl font-semibold block mb-6"
      >
        {{ product.category }}
      </span>

      <!-- Price and Rating -->
      <div class="flex justify-between items-center mb-6">
        <p class="text-2xl font-bold text-gray-900 dark:text-gray-100">
          ${{ product.price }}
        </p>
        <div class="text-lg text-gray-700 dark:text-gray-300">
          <span class="icon__stars mb-3 text-yellow-400 dark:text-yellow-300">
            @for (star of [1,2,3,4,5]; track star) {
            <i [class]="getStarClass(star, product.rating.rate)"></i>
            }
          </span>
          {{ product.rating.rate }} ({{ product.rating.count }} reviews)
        </div>
      </div>
      <a routerLink="/home">
        <button
          class="w-full sm:w-auto px-6 py-3 bg-purple-700 dark:bg-purple-600 text-white rounded-md hover:bg-purple-800 dark:hover:bg-purple-700 transition-all duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-500 dark:focus:ring-purple-400 focus:ring-offset-2 dark:focus:ring-offset-gray-800"
        >
          Back To Home
        </button>
      </a>
    </div>
  </div>
</div>
}
