<div class="flex justify-center items-center h-32 flex-col gap-3">
  <div class="relative w-12 h-12">
    <div
      class="absolute inset-0 border-4 border-transparent border-t-purple-600 dark:border-t-purple-500 border-r-purple-300 dark:border-r-purple-200 rounded-full animate-spin"
    ></div>
    <div
      class="absolute inset-0 border-4 border-transparent border-b-purple-400 dark:border-b-purple-300 border-l-purple-700 dark:border-l-purple-500 rounded-full animate-spin animation-delay-200"
    ></div>
  </div>
  <p class="text-purple-600 dark:text-purple-400 font-medium">Loading...</p>
</div>
