/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --color-primary: 168 85 247;
  --color-gray: 107 114 128;
  --color-yellow: 250 204 21;
  --color-white: 255 255 255;
  --color-black: 0 0 0;
}

.dark {
  --color-primary: 216 180 254;
  --color-gray: 156 163 175;
  --color-yellow: 253 230 138;
  --color-white: 255 255 255;
  --color-black: 0 0 0;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :root[data-theme="dark"] {
    --color-primary: 216 180 254;
    --color-gray: 156 163 175;
    --color-yellow: 253 230 138;
  }
}

:root {
  color-scheme: light;
  background-color: white;
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  background-color: #111827;
}
